@import "../app/variables.styl"

.root {
  height: 100px;
  width: 600px;
  background: $whiteColor;
}

.avatar {
  height: 60px;
  width: 60px;
  .avatar-image {
    height: 60px;
    width: 60px;
    border-radius: 30px;
  }
}

.editor {
  color: $normalColor;
  border: none;
}
