@import "../app/variables.styl"

.root {
  height: 100px;
  width: 600px;
  background: $white-color;
}

.avatar {
  height: 60px;
  width: 60px;
  .avatar-image {
    height: 60px;
    width: 60px;
    border-radius: 30px;
  }
}

.editor {
  color: $normal-color;
  border: none;
  resize: vertical;
  box-shadow: 0 0 1px $border-color;
}
