@import './variables.styl'

home, body {
  background: $bgColor;
  font: 14px/1.5 "Lucida Grande", "PingFang SC",
    "Microsoft Yahei", "Helvetica Neue", "PingFang SC", STXihei, sans-serif;
  color: $normalColor;
  padding: 0;
  margin: 0;
}
