$white-color = #FFFFFF;
$background-color = #FAFAFA;
$normal-color = #5B5B5B;
$title-color = #333333;
$border-color = #EBEBEB;
$placeholder-color = #ADADAD;

$family-serif = Georgia,Cambria,"Times New Roman",Times,STFangSong,serif;
$family-sans-serif = "Lucida Grande","Helvetica Neue",STXihei,sans-serif;
